* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 400px;
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.card {
  width: 320px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset;
}
.left{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
flex: 1;
gap: 5px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
background-color:#F5E8DF;
flex: 1;
padding: 30px;


}
.right1{
   display: flex;
   flex-direction: column;}
   .number{
font-size: 20px;

   }
   .bbc{
font-size: 14px;

   }
   .right:hover{
background-color: #eebe6c;

   }
.dokme {
   padding: 20px;
border-radius: 999999px;
}